.container {
  background-color: transparent; //rgb(240, 240, 240);
  margin-bottom: 20px;
}
.card {
  width: 14rem;
  height: 500px;
  margin-bottom: 35px;
  box-shadow: 1px 1px 1px gray;
  filter: saturate(0%);
  transition: 0.1s;
  transition-timing-function: ease-in;
}
.card:hover {
  transform: scale(1.02);
  filter: saturate(100%);
  transition: 0.1s;
  transition-timing-function: ease-out;
}

.card-img-top {
  height: 16rem;
}

#first {
  min-height: 80vh;
  font-size: x-large;
}
